@model IEnumerable<MvcSchool.Models.Student>
@using Microsoft.AspNetCore.Authorization;
@using MvcSchool.Authorization;
@using Microsoft.AspNetCore.Mvc.Rendering;


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<label></label>
<input type="checkbox" /><br />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuFamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuGivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Major.MajorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuCredit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuFamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuGivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuCredit)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, item, ContactOperations.Update)).Succeeded)
                {
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                    @: |
                }
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a>
                @if ((await AuthorizationService.AuthorizeAsync(User, item, ContactOperations.Delete)).Succeeded)
                {
                    @: |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
