@*@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>*@
@model IEnumerable<MvcSchool.Models.UserRoleViewModel>
@{
    ViewData["Title"] = "Users Manager";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's users and roles.</p>

<div>
    <form asp-controller="UserRoles" asp-action="CreateUser" method="post">
        <label>User Email</label>
        <input name="email" value="" />
        <input type="submit" value="Create User" />
    </form>
</div>

<div>
    <form asp-controller="UserRoles" asp-action="CreateRole" method="post">
        <label>Role Name</label>
        <input name="roleName" value="" />
        <input type="submit" value="Create Role" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @{
                        foreach (var role in item.Roles)
                        {
                            @role
                            <br />
                        }
                    }
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
